{% extends "base.html" %}
{%load static%}
{% block content1 %}
<div class="row my-5">
    <div class="col-4 d-flex justify-content-center align-items-center">
        <img src="{%static 'images/im.jpg' %}" alt="image" class="about_image">
    </div>

    <div class="col-7 text-left text-light">
        <h2>Hello !</h2>
        <p class="fs-6">
            I am a passionate software developer with a strong background in web development, machine learning, and data analysis. 
            I have experience of working with a variety of technologies, including Python, JavaScript, Django, React, and TensorFlow,core java, C++,html,css,php and bootstrap .
             I have a proven track record of delivering high-quality software solutions for clients, including developing a stock price prediction system
            , implementing a spam detection algorithm for email filtering and have done project on job portal system and banking management system
        </p>
        <p class="fs-6">
            I hold a Bachelor's degree in Computer Science
            from Mumbai University and have earned certifications python for data science. I am deeply passionate about leveraging technology to solve complex problems and am always eager to 
           learn and explore new technologies and methodologies in software development. My goal is to continue pushing the boundaries of what's possible in software 
           development and make a meaningful impact in the field."
        </p> 
           
           
    </div>
</div>

<div class="row my-2">
    <h2 class ="text-center" style="color:#4fffb0">My Tech Stack</h2>
    <div class="d-flex justify-content-around align-items-center"> 

        <img src="{% static 'images/bootstrap.png' %}" 
        width="70"
        height="70" 
        alt="bootstrap"
        class="img-fluid"
        />
        <img src="{% static 'images/css.png' %}" 
        width="70"
        height="70" 
        alt="css"
        class="img-fluid"
        /> 
        <img src="{% static 'images/django.png' %}" 
            width="70"
            height="70" 
            alt="django"
            class="img-fluid"
        /> 
        <img src="{% static 'images/java.png' %}" 
            width="70"
            height="70" 
            alt="java"
            class="img-fluid"
        /> 
        <img src="{% static 'images/javascript.png' %}" 
            width="70"
            height="70" 
            alt="javascript"
            class="img-fluid"
        /> 
        <img src="{% static 'images/mongodb.png' %}" 
            width="70"
            height="70" 
            alt="mongodb"
            class="img-fluid"
        /> 
        <img src="{% static 'images/mysql.png' %}" 
            width="70"
            height="70" 
            alt="mysql"
            class="img-fluid"
        /> 
        <img src="{% static 'images/nodejs.png' %}" 
            width="70"
            height="70" 
            alt="nodejs"
            class="img-fluid"
        /> 
        <img src="{% static 'images/php.png' %}" 
            width="70"
            height="70" 
            alt="php"
            class="img-fluid"
        /> 
        <img src="{% static 'images/python.png' %}" 
            width="70"
            height="70" 
            alt="python"
            class="img-fluid"
        />
        <img src="{% static 'images/tensorflow.png' %}" 
            width="70"
            height="70" 
            alt="tensorflow"
            class="img-fluid"
        />
    </div> 
</div>

{%endblock content1 %}